<app-un-registered-navbar></app-un-registered-navbar>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent">
          <article class="tile is-child notification is-black">
            <div class="block">
                <section class="section is-small">
                  <div class="columns is-mobile" *ngFor = "let movie of MoviesList, let i=index">
                    <div class="column">
                        <app-cards [movie]="movie"></app-cards>
                    </div>
                    <div class="column" *ngIf="i%2!=0"></div>
                        <app-cards [movie]="movie"></app-cards>
                  </div>
                </section>  
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-black">
        <div class="content">
          <p class="title">Login</p>
          <p class="subtitle">Welcome back!</p>
          <div class="content">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input is-danger" [ngClass]="{'is-danger': hasError('Email','required') || hasError('Email','email')}" type="email" placeholder="Email" formControlName="Email" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                  <p class="help is-danger" *ngIf="hasError('Email','required')">Email is Required</p>
                  <p class="help is-danger" *ngIf="hasError('Email','email')">Email is Invalid</p>
                </div>
                
                <div class="field">
                  <label class="label">Password</label>
                  <div class="control has-icons-left">
                      <input class="input" [ngClass]="{'is-danger': hasError('Password','required')}" type="password" placeholder="Password" formControlName="Password" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                    <p class="help is-danger" *ngIf="hasError('Password','required')">Password is Required</p>
                </div>

                <div class="notification is-primary is-light" *ngIf="errorCheck">
                  <strong>{{message}}</strong>
                </div>

                <div class="field is-grouped">
                  <div class="control">
                    <button type="submit" class="button is-link" [disabled]="userForm.invalid">Login</button>
                  </div>
                  <div class="control">
                    <button type="reset" class="button is-link is-light" [disabled]="userForm.pristine" routerLink="/">Cancel</button>
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                      <p>Not a User! <a routerLink="/signin"><strong>Sign Up</strong></a></p>
                  </div>
              </div>
              </form>
          </div>
        </div>
      </article>
    </div>
  </div>
