<div class="cards" style="padding-block-end: 10%; color: black;">
  <div class="card is-black" style="height: 12rem; width:18rem; padding-block-end: 10rem;">
    <div class="card-image" style="height: 8rem; width:18rem;">
      <figure  class="image " style="height: 8rem; width:18rem;">
        <img src={{movie.PosterURL}} style="height: 8rem; width:18rem;">
      </figure>
    </div>
    <div class="card-contents">
      <div class="media-contents is-small" style="height: 5rem; width:18rem;">
        <p class="title is-6">{{movie.Name}} ({{movie.YearOfRelease.substring(0,4)}})</p>
        <p class="subtitle is-6"> {{movie.Category}}</p>
      </div>
    </div>
  </div>
</div>

